!!!
%html
	%head
		%title= HomeStockMobile
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		= stylesheet_link_tag    "application", :media => "all" 
		= javascript_include_tag "application" 
		= csrf_meta_tags 
	%body
		#main(data-role="page")
			#header(data-role="header")
				%h1= @title
				%a(href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" title="home")
			#body(data-role="content")
				= yield 